.none{
	display: none;
}
.table {
	width: auto;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 6px 8px;
}



/* .table > tbody > tr > th {
	background-color: #f9f9f9;
	white-space:nowrap;
	font-weight:normal;
} */



.has-extends {
    position: relative;
}

.has-extends:hover .extends-info {
    display: block;
    opacity: 1;
    position: absolute;
    width: 450px;
}

.extends-info {
    background: white none repeat scroll 0 0;
    border: 1px solid #888;
    border-radius: 3px !important;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
    padding: 0 10px;
    position: absolute;
    left: 56px;
    top: -15px;
    transition: all 500ms ease 0s;
    z-index: 99;
}

.extends-info::before {
    background: rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 16px;
    overflow: hidden;
    position: absolute;
    right: -9px;
    width: 9px;
}



